<div style="float: left; width: 100%;">
<div style="float: left; width: 33%;">
  <ul>
    <li>
      <span class="content">Type of Instrument</span>
      <span class="content">Date Recorded</span>
      <span class="content">Date Signed</span>
      <span class="content">Party</span>
      <span class="content">Party</span>
      <span class="content">Clerk File Number</span>
      <span class="content">County of Record</span>
      <span class="content">Amount($)</span>
    </li>
  </ul>
</div>
<div style="float: left; width: 33%;">
  <ul>
    <li>
      <span class="content"><%= document.toi.upcase         %></span>
      <span class="content"><%= document.date_recorded      %></span>
      <span class="content"><%= document.date_signed        %></span>
      <span class="content"><%= document.party1.titleize %></span>
      <span class="content"><%= document.party2.titleize %></span>
      <span class="content"><%= document.cfn                %></span>
      <span class="content"><%= document.county.titleize  %></span>
      <span class="content"><%= number_to_currency(document.amount)  %></span>
    </li>
  </ul>
</div>
<div style="float: right; width: 33%;"
  <ul>
    <li>
      <span class="content"><%= link_to "Download document", analysts_document_path(document)%></span>
    </li>
  </ul>
</div>
<div style="float: left; width: 100%;">
  <span class="timestamp">
    Created <%= time_ago_in_words(document.created_at) %> ago.
  </span>
    <% if current_analyst.admin? %>
      <%= link_to "delete",analysts_destroy_document_path(document), method: :delete,
                                      data: { confirm: "You sure?" },
                                      title: document.toi.upcase %> 
    <% end %>
</div>
</div>