<div class="row">
  <div class="span6 offset3">
    <%= form_for(@analyst) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :analyst %><br>
      <%= f.check_box :analyst %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Create an Analyst", class: "btn btn-large btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
