<% provide(:title, @property.address) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @property.address         %></br>
        <%= @property.city.capitalize %></br>
        <%= @property.state.upcase    %>
        <%= @property.zip             %>
        <%= @property.folio           %>
        <%= @property.county         %>
      </h1>
    </section>

    <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%=@property.latitude%>,<%=@property.longitude%>&amp;t=k&amp;ie=UTF8&amp;z=10&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=<%=@property.latitude%>,<%=@property.longitude%>&amp;t=k&amp;ie=UTF8&amp;z=10&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </aside>

  


  <div class="span8">
    <% if @property.documents.any? %>
      <h3>Documents (<%= @property.documents.count %>)</h3>
      <ol class="properties">
        <%= render :partial=>"shared/document",:collection=>@documents %>
      </ol>
      <%= will_paginate @documents %>
    <% else %>
    	<h3>There are no documents in this property at this time.</h3>
    <% end %>
  </div>
</div>

