<% provide(:title, @property.address) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @property.address         %></br>
        <%= @property.city.capitalize %></br>
        <%= @property.state.upcase    %>
        <%= @property.zip             %>
      </h1>
    </section>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@property.latitude}%2C#{@property.longitude}" %>
  </aside>

  


  <div class="span8">
    <% if @property.documents.any? %>
      <h3>Documents (<%= @property.documents.count %>)</h3>
      <ol class="properties">
        <%= render :partial=>"shared/document",:collection=>@documents %>
      </ol>
      <%= will_paginate @documents %>
    <% else %>
    	<h3>There are no documents in this property at this time.</h3>
    <% end %>
  </div>
</div>

