<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), profiles_path(feed_item.user) %>
  <span class="user">
    <%= link_to feed_item.user.name, profiles_path(feed_item.user) %>
  </span>
  <span class="content"><%= feed_item.address %></span>
  <span class="timestamp">
    Updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
  </span>
</li>