<%= form_for(@property) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, 	placeholder: "Protect a new property..." %>
    <%= f.text_field :city, 		placeholder: "City" %>
    <%= f.text_field :state, 		placeholder: "State" %>
    <%= f.text_field :zip, 			placeholder: "Zip" %>
    <%= f.text_field :folio,    placeholder: "folio" %>
    <%= f.text_field :country,  placeholder: "country" %>
  </div>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					data-description="A month's subscription"
					data-amount="999"></script>
 
<% end %>

